body {
    background-color: white;
}

* {
    font-family: 'Pathway Gothic One', sans-serif;
}


#logo {
    width: 100%;
    margin-top: 10px;
}

#shape1 {
    background-color: #577590;
    width: 75%;
    height: 4px;
    margin: auto;
}

#shape2 {
    background-color: #577590;
    width: 65%;
    height: 4px;
    margin: auto;
}

.formtext {
    color: black;
    font-size: 28px;
    font-weight: 200;
}

#ageandimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#agetext {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
}

#catimg {
    width: 90%;
    align-self: center;
    justify-self: center;
}

#yearsmonths {
    display: inline;
}

#form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100px 10px;
    align-items: center;
}

#section1 {
    grid-row-start:    1;
    grid-row-end:      2;
    grid-column-start: 1;
    grid-column-end:   2;
    justify-self: center;
}

#years {
    grid-row-start:    1;
    grid-row-end:      2;
    grid-column-start: 2;
    grid-column-end:   3;
}

#section2 {
    grid-row-start:    2;
    grid-row-end:      3;
    grid-column-start: 1;
    grid-column-end:   2;
    justify-self: center;
}

#months {
    grid-row-start:    2;
    grid-row-end:      3;
    grid-column-start: 2;
    grid-column-end:   3;
}

#calculate {
    grid-row-start:    1;
    grid-row-end:      3;
    grid-column-start: 3;
    grid-column-end:   4;
    justify-self: center;
}

select {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 10%;
    padding-left: 10px;
}

select option{
    text-align: center;
    font-size: 30px;
    background-color: white;
}

button {
    font-size: 25px;
    font-weight: 600;
    background-color: #D17B0F;
    color: white;
    border-radius: 5%;
    margin-top: 40px;
    border: 2px solid black;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

#answer {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    width: 80%;
    background-color: #577590;
    border: 5px solid black;
    border-radius: 3%;
    color: white;
    font-size: 50px;
}
