* {
/*    font-family: 'Chewy', cursive; */
/*    font-family: 'Love Ya Like A Sister', cursive; */
    font-family: 'Chicle', cursive;
}

body {
    background-color: white
}

#logo {
    width: 100%;
}

.formtext {
    color: black;
    font-size: 50px;
    font-weight: 400;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 50px;
}

select {
    font-family: 'Work Sans', sans-serif;
    font-size: 80px;
}

#catYears, #catMonths {
    margin: 20px;
    width: 120px;
    text-align: center;
}

select option{
    text-align: center;
    font-size: 50px;
}

button {
    font-size: 80px;
    background-color: white;
    color: black;
    border-radius: 5%;
    margin-top: 40px;
}

#answer {
    margin-top: 100px;
    text-align: center;
    color: black;
    font-size: 60px;
}